# requirements for development and testing of services

pytest>=7.2.0
pytest-cov>=4.0.0
pytest-profiling>=1.7.0
snakeviz>=2.2.0
pydantic-core>=2.27.2

pre-commit>=3.1.1

mypy>=1.0.0
mypy-extensions>=1.0.0

ruff>=0.0.290

click>=8.1.0
typer>=0.7.0

stringcase>=1.2.0
setuptools>=67.7.2

pip-tools>=7.3.0
uv>=0.5.6
tomli>=2.0.1
tomli_w>=1.0.0
